* {
  margin: 0;
  padding: 0;
}

h2 {
  color: #445162;
  font-size: 30px;
  line-height: 28px;
  font-weight: 400;
}

.clr:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.padding-site {
  padding: 50px;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.hero {
  background-color: #445162;
}

.hero-header-wrapper {
  float: left;
  color: #fff;
  max-width: 600px;
}

.hero-title {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 38px;
  font-weight: 400;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.hero-list {
  list-style: none;
  padding-left: 36px;
}

.hero-list-item {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.hero-list-item:before {
  position: absolute;
  top: 8px;
  left: -36px;
  content: "";
  display: block;
  width: 25px;
  height: 19px;
  background-image: url(../img/check_icon.png);
  background-repeat: no-repeat;
}

.hero-product-image {
  display: block;
  width: 469px;
  height: 214px;
  float: right;
  background-color: #fff;
}

/* About product */
.about-product-wrapper {
  float: left;
  width: 660px;
}

.about-product-title {
  margin-bottom: 28px;
}

.about-product-p {
  margin-top: 12px;
  color: #333;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.about-product-p:first-of-type {
  margin-top: 0px;
}

.about-product-video {
  display: block;
  float: right;
  background-color: #445162;
  width: 430px;
  height: 245px;
}

/* Dignities */
.dignities {
  background-color: #f5f5f5;
}

.dignities-title {
  text-align: center;
}

.dignities-list {
  list-style: none;
  padding-left: 42px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.dignities-list-item {
  width: 548px;
  color: #333;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  margin-top: 27px;
}

.dignities-list-item:before {
  content: "";
  position: absolute;
  display: block;
  top: 5px;
  left: -42px;
  background-image: url(../img/plus_icon.png);
  background-repeat: no-repeat;
  background-color: #445162;
  width: 32px;
  height: 32px;
  background-position: 50%;
}

/* Screenshots */
.screenshots {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.screenshots-title {
  text-align: center;
  width: 100%;
}

.screenshots-item {
  margin-top: 30px;
}

.screenshots-item-img {
  display: block;
  width: 200px;
  height: 150px;
  float: left;
  margin-right: 15px;
  background-color: #445162;
}

.screenshots-item-description {
  display: block;
  width: 360px;
  float: right;
  margin-right: 15px;
}

.screenshots-item-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 12px;
  color: #445162;
}

.screenshots-item-p {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* Reviews */
.reviews {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.reviews-title {
  text-align: center;
  width: 100%;
}

.reviews-item {
  width: 574px;
  margin-top: 32px;
}

.reviews-item:nth-of-type(n + 3) {
  margin-top: 24px;
}

.reviews-item-avatar {
  display: block;
  width: 75px;
  height: 75px;
  float: left;
  border-radius: 50%;
  background-color: #445162;
}

.reviews-item-bubble {
  width: 470px;
  box-sizing: border-box;
  background-color: #ebebeb;
  position: relative;
  padding: 12px 14px;
  border-radius: 5px;
  float: right;
}

.reviews-item-bubble-text {
  color: #333;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 6px;
}

.reviews-item-bubble-author {
  color: #989898;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.reviews-item-bubble:before {
  content: "";
  position: absolute;
  left: -24px;
  top: 25px;
  display: block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-right: 12px solid #ebebeb;
}

/* Buy it now */
.price {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  align-items: flex-end;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.price-title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.price-item {
  width: 300px;
  background-color: #445162;
  border-radius: 5px;
  color: #fff;
  margin: 0 22.5px;
}

.price-item-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
  width: 100%;
  text-align: center;
}

.price-item-cost {
  color: #445162;
  display: block;
  width: 100%;
  font-size: 40px;
  padding: 11px 0;
  text-align: center;
  font-weight: 400;
  border: 2px solid #445162;
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.price-item-list {
  font-size: 14px;
  margin: 0 20px;
  line-height: 24px;
  list-style-position: inside;
}

.price-item-btn {
  text-transform: uppercase;
  line-height: 18px;
  font-size: 18px;
  font-weight: 700;
  color: #445162;
  margin: 15px 20px 20px;
  border-radius: 5px;
  border: none;
  width: 260px;
  padding: 11px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid transparent;
  outline: none;
}

.price-item-btn:hover {
  background-color: #445162;
  border-color: #fff;
  color: #fff;
  cursor: pointer;
}

.price-item-btn:active {
  background-color: #3a4553;
}

.price-item-btn:focus {
  border-color: coral;
}

/* Contacts */
.contacts {
  background-color: #445162;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.contacts-title {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 6px;
}

.contacts-form {
  width: 500px;
  margin-right: 46px;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contacts-form-name {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 8px 12px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  font-family: Arial;
  box-sizing: border-box;
  color: #445162;
  border: 1px solid transparent;
  outline: none;
}

.contacts-form-name::placeholder {
  color: #445162;
}

.contacts-form-name:focus::placeholder {
  color: #b3b3b3;
}

.contacts-form-name:focus {
  border-color: coral;
}

.contacts-form-email {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 8px 12px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  font-family: Arial;
  box-sizing: border-box;
  color: #445162;
  border: 1px solid transparent;
  outline: none;
}

.contacts-form-email::placeholder {
  color: #445162;
}

.contacts-form-email:focus::placeholder {
  color: #b3b3b3;
}

.contacts-form-email:focus {
  border-color: coral;
}

.contacts-form-message {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 8px 12px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  font-family: Arial;
  box-sizing: border-box;
  color: #445162;
  border: 1px solid transparent;
  outline: none;
  resize: none;
  height: 170px;
}

.contacts-form-message::placeholder {
  color: #445162;
}

.contacts-form-message:focus::placeholder {
  color: #b3b3b3;
}

.contacts-form-message:focus {
  border-color: coral;
}

.contacts-form-submit {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 8px 12px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  font-family: Arial;
  box-sizing: border-box;
  color: #445162;
  border: 1px solid transparent;
  outline: none;
  width: 140px;
  text-transform: uppercase;
  font-weight: 700;
}

.contacts-form-submit::placeholder {
  color: #445162;
}

.contacts-form-submit:focus::placeholder {
  color: #b3b3b3;
}

.contacts-form-submit:focus {
  border-color: coral;
}

.contacts-form-submit:hover {
  background-color: #445162;
  border-color: #fff;
  color: #fff;
  cursor: pointer;
}

.contacts-form-submit:active {
  background-color: #3a4553;
}

.contacts-list-main {
  list-style-type: none;
  list-style-position: inside;
  margin-top: 20px;
}

.contacts-list-main-item {
  position: relative;
  color: #fff;
  line-height: 28px;
  margin-bottom: 15px;
  padding-left: 32px;
}

.contacts-list-main-item.skype:before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../img/skype_icon.png);
}

.contacts-list-main-item.icq:before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../img/icq_icon.png);
}

.contacts-list-main-item.email:before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../img/email_icon.png);
}

.contacts-list-main-item.phone:before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../img/phone_icon.png);
}

.contacts-list-socials {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 240px;
  margin-top: 28px;
}

.contacts-list-socials-item {
  display: block;
  height: 42px;
  width: 42px;
  background-repeat: no-repeat;
}

.contacts-list-socials-item:focus {
  outline-color: red;
}

.contacts-list-socials-item.twitter {
  background-image: url(../img/twitter-icon.png);
}

.contacts-list-socials-item.facebook {
  background-image: url(../img/facebook-icon.png);
}

.contacts-list-socials-item.linkedin {
  background-image: url(../img/linkedin-icon.png);
}

.contacts-list-socials-item.google {
  background-image: url(../img/google-icon.png);
}

.contacts-list-socials-item.youtube {
  background-image: url(../img/youtube-icon.png);
}

/* Footer */
.footer {
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  width: 100%;
  color: #445162;
  background-color: #f5f5f5;
}
